@{
    ViewData["Title"] = "Happy Birthday!";
}
<div class="container text-center">
<h1 class="display-4">Please Confirm Your Message</h1>
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="card" style="width: 100%;">
                @* @if(@ViewBag.MessageToConfirm.ImgLink != null)
                {
                    <img class="card-img-top border" src="~/images/@ViewBag.MessageToConfirm.ImgLink" alt="No Image Selected">
                } *@
                <div class="card-body">
                    <p class="card-text">@ViewBag.MessageToConfirm.Note</p>
                    <span style="font-family: cursive;"><h5 class="card-title">@ViewBag.MessageToConfirm.Creator</h5></span>
                </div>
            </div>
        </div>
</div>
<a class="btn btn-primary m-5" href="/happy-birthday-erin">Confirm Message!</a>
<a class="btn btn-primary m-5" href="/card/edit/@ViewBag.MessageToConfirm.MessageId">Edit Your Message</a>
